@tailwind base;
@tailwind components;
@tailwind utilities;

.str-chat__channel {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to bottom, #c9e8c9, #b7e7bb); */
  /* background: linear-gradient(to bottom, #FFF8F1, #FFB347, #F27C38); */
  /* background: linear-gradient(135deg, #FFF8F1, #FFB347, #F27C38); */

  /* Sunset Flow — Primary to Accent */
  /* background: linear-gradient(to right, #F27C38, #FFB347); */

  /* Warm Dawn — Soft Gold to Maple Orange */
  /* background: linear-gradient(to bottom right, #FDE4A3, #FFB347, #F27C38); */

  /* Earth & Sun — Brown to Amber */
  /* background: linear-gradient(to right, #8C4B2D, #F27C38, #FDE4A3); */
  /* background: linear-gradient(to right, #FDE4A3, #F27C38, #8C4B2D); */

  /* Soft Golden Ray — Amber to Soft Gold */
  background: linear-gradient(to top left, #FFB347, #FDE4A3);

  /* Sun-kissed Cream — Cream to Amber */
  /* background: linear-gradient(to right, #FFF8F1, #FDE4A3, #FFB347); */

  height: 100%;
}

.str-chat__container {
  max-width: 1200px;
  width: 100%;
  height: 80% !important;
  margin: 0 auto !important;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.str-chat__list {
  background-color: #ffffff;
  padding: 12px;
}

.str-chat__list-notifications {
  display: none;
}

.str-chat__message-input {
  border-top: 1px solid #ddd;
}